// $lightgray: #AEC3C1;
// $cream: #FCF7E5;
// $peach: #FF9B70;
// $coral: #F75849;
// $darkblue: #145173;
// $black: #081C25;




$lightgray: #C1BEAE;
$darkgray: #4c493d;
$lightgreen: #9EBC9F;
$darkgreen: #527053;
$cream: #F4F2F3;
$black: #230903;
