header {
    line-height: 1.2;
    background-color: $darkblue;
    color: #fff;
    text-align: center;
    font-weight: 300 !important;
    letter-spacing: 0.1rem;
    border-bottom: 10px solid $lightblue;
    @media screen and(min-width: 500px) {
      min-height: 145px;
      text-align: left;
      padding-left: 15px;
}
    @media screen and(min-width: 768px) {
        text-align: left;
        height: 160px;
        padding-left: 0;
    }
}
.header-title {
    margin: 0;
    padding-top: 15px;
    @media screen and(min-width: 500px) {
      padding-top: 25px;
    }
    @media screen and(min-width: 768px) {
            padding-top: 25px;
            display: inline-block;
    }
    &--item {
        font-size: 18px;
        @media screen and(min-width: 500px) {
            font-size: 16px;
            width: 90%;
        }
        @media screen and(min-width: 768px) {
            font-size: 18px;
            width: 100%;
        }
        a {
            color: #fff;
            &:hover{
              color: $lighterblue;
            }
        }
    }
    &--item:first-child {
        font-size: 30px;
        @media screen and(min-width: 768px) {
            font-size: 36px;
        }
    }
}
.header-icons {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    @media screen and(min-width: 500px) {
      margin-top: 10px;
      display: inline-block;
      font-size: 26px;
    }
    @media screen and(min-width: 768px) {
      margin-bottom: 30px;
        float: right;
        font-size: 32px;
        position: relative;
        top: 50%;
        transform: translateY(calc(-50% - 10px));
    }
    &--icon {
      display: inline-block;
      padding-right: 15px;
      @media screen and(min-width: 500px) {
      padding-right: 10px;
    }
      &:last-child{
        padding-right: 0;
      }
      a {
          color: #fff;
          &:hover{
            color: $lightgreen;
          }
      }
    }
}
// i{
//   height: 62px;
//   width: 62px;
//   border-radius: 100%;
//   background-color: rgba(252,247,229, 0.3);
  // &::before{
  //   position: absolute;
  //   top: 70px;
  //
  // }
// }
