header {
    height: 175px;
    background-color: $darkblue;
    color: $cream;
    text-align: center;
    border-bottom: 10px solid $coral;
    @media screen and(min-width: 768px) {
        text-align: left;
        height: 160px;
    }
}
.header-title {
    margin: 0;
    padding-top: 30px;
    @media screen and(min-width: 768px) {
      display: inline-block;
    }

    &--item {
        font-size: 20px;
        font-weight: 100;
        @media screen and(min-width: 768px) {
            font-size: 18px;
        }
        a {
            color: $cream;
        }
    }
    &--item:first-child {
        font-size: 30px;
        @media screen and(min-width: 768px) {
            font-size: 36px;
        }
    }
}
.header-icons {
    margin-top: 15px;
    font-size: 32px;
    @media screen and(min-width: 768px) {
        float: right;
        display: inline-block;
        padding-top: 40px;
    }
    &--icon {
      height: 150px;

        display: inline-block;
        padding-right: 15px;
        &:last-child{
          padding-right: 0;
        }
        a {
            color: $cream;
        }

    }
}
