.intro{
  text-align: center;
  @media screen and(min-width: 768px){
    text-align: left;
  }
  @media screen and(min-width: 992px){
    position: relative;
  }
}

.about{
  text-align: left;
  margin: 30px 5%;
  @media screen and(min-width: 768px){
    width: 60%;
    margin: 30px 0 60px 0;
  }
  @media screen and(min-width: 992px){
    margin-top: 15px;
    font-size: 1.1rem;
    padding-bottom: 45px;
  }
  @media screen and(min-width: 1200px){
    padding-top: 15px;
  }
}

.about .about--item{
  padding-bottom: 15px;
  @media screen and(min-width: 768px){
    width: 90%;
  }
  &:last-child{
    padding-bottom: 0;
  }
}

.nancyPhoto{
  width: 90%;
  height: 50vw;
  margin: auto;
  background-image:url("../assets/images/nancy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  -moz-box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  box-shadow: 2px 2px 7px 0px rgba(8, 28, 37,0.53);
  @media screen and(min-width: 768px){
    width: 40%;
    height: 30vw;
    float: right;
    margin: 5px 0 0 0;
  }
  @media screen and(min-width: 1100px){
    width: 340px;
    height: 340px;
    margin: 0;
  }
}

.profile-buttons{
  width: 90%;
  margin: auto;
  @media screen and(min-width: 768px){
    width: 100%;
    padding-top: 30px;
    text-align: center;
    clear: both;
  }
  @media screen and(min-width: 992px){
    width: 70%;
    text-align: left;
    margin: 0;
    position: absolute;
    bottom: 45px;
    padding-top: 30px;
  }
  @media screen and(min-width: 1100px){
    bottom: 60px;
  }
}
.profile-buttons .button-link .blue-button{
  @media screen and(min-width: 550px){
    width: 48%;
    padding: 15px 10px;
    font-size: 14px;
  }
  @media screen and(min-width: 768px){
    width: 35%;
  }
  @media screen and(min-width: 992px){
    width: 30%;
  }
}

.view{
  @media screen and(min-width: 550px){
    float: left;
  }
  @media screen and(min-width: 768px){
    float:none;
  }
}
.download{
  margin-top: 10px;
  @media screen and(min-width: 550px){
    margin-top: 0;
    float: right;
  }
  @media screen and(min-width: 768px){
    float:none;
    margin-left: 10%;
  }
  @media screen and(min-width: 992px){
    margin-left: 5%;
  }
}
