.intro{
  position: relative;
  background-color: white;
  margin-top: 0;
  padding: 15px;
  border-bottom: 1px solid $darkblue;
  @media screen and(min-width: 500px) {
    // border-bottom: none;
  position: inherit;
    // margin-top: 15px;
    padding: 30px 7%;
    // border-top: 1px solid $darkblue;
  }
}
.about {
    // margin-top: 15px;
    text-align: left;
    font-size: 15px;
    @media screen and(min-width: 500px) {
        text-align: left;
    }
    @media screen and(min-width: 768px) {
        position: relative;
        font-size: 16px;
        padding: 15px;
    }
}
.about--photo{
  .nancyPhoto {
      width: 50%;
      height: 50vw;
      float: right;
      margin: 0 0 15px 15px;
      background-image: url("../assets/images/nancy.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 1px solid $darkblue;
      @media screen and(min-width: 500px) {
        float: none;
        margin: 0 auto 30px auto;
          // text-align: center;
          width: 40%;
          height: 30vw;
          min-width: 210px;
      }
      @media screen and(min-width: 768px) {
          width: 30%;
          height: 20vw;
          float: right;
      }
      @media screen and(min-width: 1100px) {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
      }
  }
}
.about--content {

    @media screen and(min-width: 768px) {
        width: calc(70% - 30px);
    }
    .about--item {
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
    .surprise, a.surprise:visited {
      color: $darkblue;
      text-decoration: none;
    }
}

.about p:last-of-type {
    @media screen and(min-width: 500px) {
        margin-bottom: 0;
    }
    @media screen and(min-width: 768px) {
        padding-bottom: 0;
        display: inline;
    }
    @media screen and(min-width: 990px) {
        display: block;
        padding-bottom: 30px;
    }
}

.profile-buttons {
    // width: 40%;
    // float: right;
    // position: absolute;
    // top: 0;
    // right: -15px;
    // margin: 30px 30px 0 auto;
    // margin: 30px auto 15px auto;
    text-align: center;
    // padding-bottom: 7px;
    margin: auto;
    // min-width: 335px;
    @media screen and(min-width: 500px) {
      min-width:inherit;
      float: none;
      position: inherit;
      width: 90%;
      margin: auto;
        padding-top: 30px;
    }
    @media screen and(min-width: 768px) {
        width: calc(60% - 2px);
        display: inline-block;
        padding-top: 0;
        text-align: center;
        clear: both;
    }
    @media screen and(min-width: 990px) {
      padding-top: 15px;
    }
}

.profile-buttons .button-link .darkblue-button {
  padding: 10px 5px;
  margin-bottom: 7px;
  // font-size: 9px;
  // padding: 7px;
// width: 40%;
min-width: 150px;
display: inline-block;
text-align: center;
    @media screen and(min-width: 500px) {
      display: inline-block;
        width: 40%;
        padding: 10px 7px;
    }
    @media screen and(min-width: 768px) {
        width: 45%;
        font-size: 12px;
        padding: 15px 10px;
    }
    @media screen and(min-width: 990px) {
        font-size: 14px;
    }
.fa-file-pdf-o{
  display: none;
  @media screen and(min-width: 500px) {
    display: inline;
  }
}
}
.view {
// float: left;
    @media screen and(min-width: 500px) {
        float: left;
        margin-bottom:auto;
        margin-right: inherit;
    }
    @media screen and(min-width: 768px) {
        float: none;
    }
}

.download {
  // float: right;

    @media screen and(min-width: 500px) {
      margin-left: 10%;
      margin: auto;
        float: right;
    }
}
